<!DOCTYPE html>
<html>
<head>
	<title>Groups' Events Page</title>
</head>
<body>


<a href="/home">Go To Homepage</a>

{% if events %}
	<h3>Here are some upcoming events</h3>
	<table border="1">
		<th>Name</th>
		<th>Description</th>
		<th>Start Time</th>
		<th>End Time</th>
		<th>Location</th>
		{% for event in events %}
			<tr>
				<td>{{event.title}}</td>
				<td>{{event.description}}</td>
				<td>{{event.start_time}}</td>
				<td>{{event.end_time}}</td>
				<td>{{event.location_name}}</td>
			</tr>
		{% endfor %}
	</table>
{% endif %}

{% if not events %}
	<p>There are no events happening in the near future</p>
{% endif %}
</br>

</body>
</html>